/*universal selector*/
/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*type selectors*/

/*navigation bar*/
nav {
	font-family: 'Nunito', sans-serif;
	background-color: #17252A;
	vertical-align: text-top;
	border-bottom: 2px solid #DEF2F1;
}

/*webpage body*/
body {
	font-family: 'Nunito', sans-serif;
	background-color: #3AAFA9;
	color: #FFFFFF; 
}

/*sets footer color*/
footer {
	color: #17252A;
}


/*CLASS SELECTORS*/
/* navbar left section sizing */
.navleft-section {
	width: 45vw;
}

/* developer portfolio text size */
.logo-adjacent-text {
	font-size: 2vmax;
}

/*navbar website logo styles*/
.website-logo1 {
	height: 60px;
	width: 60px;
	margin-left: 10px;
}

/* hamburger button background color */
.navbar-toggler {
	background-color: #FFFFFF;
}

/* changes hamburger button icon to X when collapsed */
button[aria-expanded="true"] > span.navbar-toggler-icon {
	  display: none;
}

/* changes hamburger button icon to --- when hide */
button[aria-expanded="false"] > span.close {
	  display: none;
}
  
.nav-item {
	text-align: center;
	padding-left: 10px;
}

/*navbar link styles*/
.nav-link {
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bolder;
}

/*hovering effect for navbar links*/
.nav-link:hover {
	color: #3AAFA9;
}

/*button styles for landing page button*/
.btn0 {
	background-color: #17252A;
	color: #FEFFFF;
	width: 180px;
	border-radius: 10px;
	border: 2px solid #FEFFFF;
}

/*button styles for projects & other projects section */
.btn {
	background-color: #17252A;
	color: #FEFFFF;
	width: 100px;
	margin-bottom: 10px;	
}

/*button styles for the contact form*/
.btn2 {
	background-color: #3AAFA9;
	color: #17252A;
	width: 100px;
	margin-bottom: 10px;
	border: transparent;
	margin: 5px;
	padding: 5px;	
}

/*button styles for the subscribe button*/
.btn3 {
	background-color: #3AAFA9;
	color: #17252A;
	width: 100px;
	margin-bottom: 10px;
	border: transparent;
	padding: 5px;
}

/*parallax scrolling effect for landing page section*/
.fixed-bg1 {
	background-image: url(./designs/wevdev2-edited.png);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

/*parallax scrolling effect for tools section*/
.fixed-bg2 {
	background-image: url(./designs/wevdev1-edited.png);
	min-height: 70vh;
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

/*landing page customized height*/
.landing-page {
	height: 90vh;
}

/*Hi, I'm Eric text styles*/
.l-page-text1 {
	font-family: 'Nunito', sans-serif;
	font-weight: bolder;
	font-size: 8vw;
	text-shadow: 5px 5px #17252A;
}

/*A Full Stack Web Developer text styles*/
.l-page-text2 {
	font-weight: bold;
	text-shadow: 5px 5px #17252A;
}

/*hovering effects for a full stack web developer text*/
.l-page-text2:hover {
	background-color: #3AAFA9;
	border-radius: 5px;
	color: #17252A;
	text-shadow: 5px 5px #FEFFFF;
}

/*need a new website? text style*/
.l-page-text3 {
	font-weight: bolder;
	font-size: 2.5vw;
	text-shadow: 5px 3px #17252A;
}

/*tagline-section style*/
.tagline-section {
	background-color: #FEFFFF;
	color: #17252A;
	min-height: 60vh;
}

/*tagline card text styles*/
.card-text {
	border-top: 3px solid #3AAFA9;
	text-align: center;
}

/*eric's picture sizing*/
.eric-img {
	height: 300px;
	width: 300px;
}

/*eric's name text style*/
.my_name {
	font-family: 'Archivo Black', sans-serif;
	font-weight: bolder;
}

/*eric's title text style*/
.title {
	font-family: 'Nunito', sans-serif;
	font-weight: bolder;
	color: #17252A;
}

/*sets a color for Particleus and Liknayan title*/
.subtitle {
	color: #17252A;	
}

/*sets a color for Particleus and Liknayan details text*/
.subtext {
	color: #17252A;	
}

/*sets soft corners for project/website images*/
.project-img {
	border-radius: 30px;
}

/*hovering effect for project-img*/
.project-img:hover {
	box-shadow: 5px 5px #3AAFA9;
}

/*project text styles*/
.project-details {
	border-left: 3px solid #17252A;
	background-color: #DEF2F1;
	border-radius: 15px;
}

/*enlarge project details when hovered*/
.project-details:hover {
	transform: scale(1.05);
}

/*other project images styles*/
.other-project-img {
	border-radius: 20px;
	height: 350px;
	width: 200px;
}

/*sets a middle border in other projects section*/
.other-project-details {
	border-left: 3px solid #FFFFFF;
}

/*gives a gradient to the background of text in other projects section*/
.other-project-details:hover {
	background-image: linear-gradient(to right, #DEF2F1, transparent);
}

/*tools hovering effect*/
.tool:hover {
	background-color: #FEFFFF;
	border-radius: 130px;
}

/*gmap sizing*/
.map {
	height: 50vh;
	width: 100vw;
	padding: 5px;
}

/*social media icons*/
.prefooter-icons {
	height: 25px;
	width: 25px;
	padding-bottom: 3px;
	display: inline;
}

/*prefooter-icons enlarges when hovered*/
.prefooter-icons:hover {
	transform: scale(1.5);
}

/*website logo inside the find me section*/
.website-logo2 {
	height: 100px;
	width: 100px;
}

/*website logo inside find me section enlarges whem hovered*/
.website-logo2:hover {
	transform: scale(1.1);
}


/*ID SELECTORS*/

/*navbar icons styles*/
#nav-icons {
	height: 25px;
	width: 25px;
	padding-bottom: 3px;
}

/*typewriting and blinking cursor effects for a full stack web developer text*/
#typed-out {
	overflow: hidden;
	border-right: 5px solid #17252A;
	font-size: 4vw;
	width: 0;
	white-space: nowrap;
	animation: 
		typing 3s steps(45, end) forwards,
		blink .8s infinite;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes typing {
	from { width: 0% }
	to { width: 85% }
}

@keyframes blink {
	from { border-color: transparent; }
	to { border-color: white; }
}

/*tagline styles*/
#tagline-details {
	background-color: #DEF2F1;
	border: transparent;
	border-radius: 30px;
	min-height: 60vh;
}

/*sets a middle border in About Me section*/
#about-me-border {
	border-left: 3px solid #17252A;
}

/*sets the bg-color, text-color, and min-height of projects section*/
#projects {
	background-color: #FFFFFF;
	color: #17252A;
	min-height: 60vh;
}

#pre-footer {
	padding: 1rem;
	background-color: #17252A;
	color: #0B0B45;
}

/*CHILD SELECTORS*/

.project-details > h3 {
	font-weight: bolder;
	color: #3AAFA9;
}

#pre-footer > div {
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

/*MULTIPLE SELECTORS*/

/*hovering effect for projects & other projects buttons*/
.btn0:hover, .btn:hover {
	color: #3AAFA9;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*hovering effect for contact form buttons*/
.btn2:hover, .btn3:hover {
	color: #FFFFFF;
}

/*sets a background color for map and form sections*/
.find-me, .contact-form {
	background-color: #17252A;
}

/*sets text color for map and form and pre-footer sections*/
.find-me-title, .contact-me-title, .form-group, .footer-text {
	color: #3AAFA9;
}

/*inline display of nav icons and nav links*/
#nav-icons, .nav-link {
	display: inline;
}

.website-logo1, .logo-adjacent-text {
	display: inline-block;
}

/*section names text shadows*/
.tagline-section > h1, #projects > h1 {
	text-shadow: 5px 5px #3AAFA9;
}

/*text-shadows for the subheadings*/
#other-projects > h1, #about-me > h1, #tools > h1, #contact > h1 {
	text-shadow: 5px 5px #17252A;	
}